.group {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    border-radius: 2px;
    padding: 28px 16px 8px 16px;
    margin: 16px 0;
    border: 1px solid;
    
    h2 {
        position: absolute;
        top: -11px;
        left: 8px;
        margin: 0;
        padding: 0 8px;
        font-size: 16px;
        font-weight: 600;
    }

    h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 24px 0 16px 0;
        padding: 0;

        &:first-of-type {
            margin-top: 0;
        }
    }
}