<!-- <p>
  add-edit-roles works!
</p> -->
<!-- <mat-toolbar matDialogTitle>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar> -->

<div >
    <div fxLayout="row" fxLayoutAlign="space-between center" matDialogTitle>
        <!-- CENTER -->
        <div fxLayoutAlign="start center">
          <span class="title dialog-title">{{title}}</span>
    
        </div>
        <!-- ADD  BUTTON -->
        <div fxLayoutAlign="end end">
          <button color="primary" mat-icon-button mat-dialog-close>
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>

  <form [formGroup]="form" >

    <mat-form-field appearance="standard" fxFill>
      <mat-label>Current</mat-label>
      <input matInput placeholder="Password" formControlName="currentPassword">
      <!-- <mat-icon matSuffix>create</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" fxFill>
      <mat-label>New</mat-label>
      <input matInput placeholder="Password" formControlName="newPassword">
      <!-- <mat-icon matSuffix>create</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <br>
    <!-- <mat-form-field appearance="standard" fxFill>
      <mat-label>Confirm</mat-label>
      <input matInput placeholder="Password" formControlName="confirmPassword">
      <mat-icon matSuffix>create</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <br> -->

    <!-- <pre>
        {{form.value | json}}
      </pre> -->
  </form>
  <div mat-dialog-actions fxLayoutAlign="end end">
    <button mat-raised-button color='primary' (click)="changePassword()" [mat-dialog-close]="true" [disabled]="form.invalid">
      Save
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>