.primary-checkbox{
    border-radius: 5px;
    padding-bottom: 9px;
    border: 1px solid #a9a9a961;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}